* {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
}

.btn.center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.d-block {
  padding: 0%;
  width: 196vh;
  margin-top: 19px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
}

.c-block {
  padding: -7px;
  width: 200vh;
  height: 100vh;
  margin-top: -75px;
  margin-left: -50px;
}

.conteiner-fluid {
  background-color: rgb(141, 219, 23);
  border-top: 5px;
  height: 50%;
  width: 100%;
  margin-bottom: -60px;
}
.conteiner-fluid .cont-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.header {
  background-color: rgb(141, 219, 23);
  padding: 15px;
  position: absolute;
  top: 0;
  width: 91%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
  margin-left: 100px;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.img-logo {
  position: absolute;
  top: -15%;
  left: -1%;
  width: 300px;
  height: 290px;
}

.intro-asociate {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 40px;
}
.intro-asociate .img-logo-asoc {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 300px;
  height: 300px;
}

.intro-asociate p {
  text-align: center;
  margin-top: 65px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.caja-de-datos div {
  margin-top: -3%;
}

.caja-de-datos input {
  width: 100%;
  height: 20%;
  margin-top: -5%;
}

.info-datos h3 {
  margin-top: -10%;
}

.info-datos h4 {
  margin-top: 0%;
}

.section4__text4 {
  text-align: center;
  text-shadow: 5px 5px 20px;
}

.section__title {
  background-color: rgb(141, 219, 23);
  padding: 8px;
  text-align: center;
}

.img_lobo {
  width: 70vh;
  height: 70vh;
}

.img_oso {
  width: 80vh;
  height: 80vh;
}

.img_naturaleza {
  width: 100vh;
  height: 100vh;
  margin-top: -120px;
}

.img_ciervo {
  width: 60vh;
  height: 60vh;
  margin-top: -160px;
}

.tarjeta__ {
  padding: 30px;
  display: flex;
  text-align: center;
  align-items: center;
}

.img-fluid {
  padding: 0%;
  width: auto;
  height: auto;
  margin-top: 12px;
  margin-left: 20px;
}

.img_cactus {
  margin-top: -110px;
  margin-left: 200px;
}

.section3__text3 {
  text-align: center;
  margin-top: 5px;
  text-shadow: 5px 5px 20px;
}

.section__title {
  background-color: rgb(141, 219, 23);
  padding: 8px;
  text-align: center;
}

.tarjeta__ {
  padding: 30px;
  display: flex;
  text-align: center;
  align-items: center;
}

.fondo_carrousel {
  height: -80vh;
  background-position: center;
  margin-top: -44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 236);
}

.section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.slider {
  display: flex;
  gap: 200px;
  margin-top: -50px;
}

.tarjeta__title1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}

.tarjeta {
  border: 2px solid rgb(172, 226, 92);
  margin: 25px 0px 25px 0px;
  margin-top: -70px;
  width: 276px;
  height: auto;
}

.tarjeta__text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin-top: -35px;
}

.section__title {
  background-color: rgb(141, 219, 23);
  padding: 8px;
  text-align: center;
}

.tarjeta__ {
  padding: 30px;
  display: flex;
  text-align: center;
  align-items: center;
}

.section2__text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -140px;
  text-align: left;
  text-shadow: 5px 5px 20px;
}
.section2__text2 .section2__text {
  margin-top: -50px;
}

.img_foca {
  width: 100vh;
  height: 100vh;
  margin-top: -107px;
  margin-left: 210px;
}

.section__title {
  background-color: rgb(141, 219, 23);
  padding: 8px;
  text-align: center;
}

.tarjeta__ {
  padding: 30px;
  display: flex;
  text-align: center;
  align-items: center;
}

@media (min-width: 576px) {
  .header__nav {
    width: 100%;
  }
  /*---index---*/
  .d-block {
    display: flex;
    padding: 0%;
    width: auto;
    margin-top: 19px;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }
  .slider {
    display: flex;
    flex-direction: column;
  }
  .section__title4 {
    width: 100%;
    height: 100%;
  }
  .section__title4 .tarjeta__text2 {
    text-align: center;
    display: flex;
  }
  .btn.center {
    text-align: center;
    display: flex;
  }
  /*---mares---*/
  .c-block {
    display: flex;
    padding: -7px;
    width: auto;
    height: 100vh;
    margin-top: -75px;
    margin-left: -200px;
  }
  .section2__text2 {
    width: 1000px;
    margin-left: 0px;
  }
  .section2__text2 .section2__text {
    width: 1000px;
    margin-left: 0px;
  }
  .section__title4 {
    display: none;
  }
  .section__title4 .tarjeta__text2 {
    display: none;
  }
  .section__title4 .img_foca {
    display: none;
  }
  .btn.center {
    text-align: center;
    display: flex;
  }
  /*---desiertos---*/
  .section3__img {
    padding: -7px;
    width: 200vh;
    height: 100vh;
    margin-top: -75px;
    margin-left: -200px;
  }
  .section3__text3 {
    width: 1000px;
    margin-left: 0px;
  }
  .section3__text3 .section3__text {
    width: 1000px;
    margin-left: 0px;
  }
  .section__title4 {
    display: none;
  }
  .section__title4 .tarjeta__text2 {
    display: none;
  }
  .section__title4 .img_cactus {
    display: none;
  }
  .btn.center {
    text-align: center;
    display: flex;
  }
  /*---bosques---*/
  .section4__text4 {
    width: 1000px;
    margin-left: 0px;
  }
  .section4__text4 .section4__text {
    width: 1000px;
    margin-left: 0px;
  }
  .section4__text4 .img_lobo {
    display: none;
  }
  .section4__text4 .img_oso {
    display: none;
  }
  .section4__text4 .img_naturaleza {
    display: none;
  }
  .section4__text4 .img_ciervo {
    display: none;
  }
  .section__title4 {
    display: none;
  }
  .section__title4 .tarjeta__text2 {
    display: none;
  }
  .btn.center {
    text-align: center;
    display: flex;
  }
  /*---footer---*/
  .conteiner-fluid {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .portada {
    height: 100%;
  }
  .d-block {
    padding: 0%;
    width: 196vh;
    margin-top: 19px;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }
  .section_portada {
    padding: 100px;
    width: 200vh;
    height: 100vh;
    margin-top: -75px;
    margin-left: -50px;
  }
  .slider {
    display: flex;
    flex-direction: row;
  }
  /*---mares---*/
  .c-block {
    padding: -7px;
    width: 200vh;
    height: 100vh;
    margin-top: -75px;
    margin-left: -200px;
  }
  .section2__text2 {
    width: 1000px;
    margin-left: 0px;
  }
  .section2__text2 .section2__text {
    width: 1000px;
    margin-left: 0px;
  }
  .section__title4 {
    display: none;
  }
  .section__title4 .tarjeta__text2 {
    display: none;
  }
  .section__title4 .img_foca {
    display: none;
  }
  .btn.center {
    text-align: center;
    display: flex;
  }
  /*---desiertos---*/
  .section3__img {
    padding: -7px;
    width: 200vh;
    height: 100vh;
    margin-top: -75px;
    margin-left: -200px;
  }
  .section3__text3 {
    width: 1000px;
    margin-left: 0px;
  }
  .section3__text3 .section3__text {
    width: 1000px;
    margin-left: 0px;
  }
  .section__title4 {
    display: none;
  }
  .section__title4 .tarjeta__text2 {
    display: none;
  }
  .section__title4 .img_cactus {
    display: none;
  }
  .btn.center {
    text-align: center;
    display: flex;
  }
  /*---bosques---*/
  .section4__text4 {
    width: 1000px;
    margin-left: 0px;
  }
  .section4__text4 .section4__text {
    width: 1000px;
    margin-left: 0px;
  }
  .section4__text4 .img_lobo {
    display: none;
  }
  .section4__text4 .img_oso {
    display: none;
  }
  .section4__text4 .img_naturaleza {
    display: none;
  }
  .section4__text4 .img_ciervo {
    display: none;
  }
  .section__title4 {
    display: none;
  }
  .section__title4 .tarjeta__text2 {
    display: none;
  }
  .btn.center {
    text-align: center;
    display: flex;
  }
  /*---footer---*/
  .conteiner-fluid {
    height: 100%;
    width: 100%;
  }
  .section2__text {
    width: 100%;
    height: 100%;
  }
  .section__title4 {
    display: none;
  }
  .section__title4 .tarjeta__text2 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
