$color-primario:  rgb(141, 219, 23);

$color-secundario: rgb(172, 226, 92);

$color-terciario: rgb(96, 96, 236);

$font-family-impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

$font-family-lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$font-family-gill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$font-family-franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$font-family-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
