.intro-asociate{
    display: flex;
    flex-direction:row;
    margin-top: 10px;

    .img-logo-asoc{
        position: absolute;
        top: 50%;
        left: 0%;
        width: 300px;
        height: 300px;  
    }
    
}

.intro-asociate p{
    text-align: center;
    margin-top: 65px;
    font-family: $font-family-lucida;
}


.row{
    margin-top: -100px;
}

.bi{
    font-size: 50px;
}

.form-check{
    margin-top: -60px;
}

.info-datos h3{
    margin-top: -150px;
}
.info-datos h4{
    margin-top: -50px;
}

.info h5{
    margin-top: -100px;
}