.section4__text4{
    text-align: center;
    text-shadow: 5px 5px 20px;

}

.section__title{
    background-color: $color-primario;
    padding: 8px;
    text-align: center;
}

.tarjeta__{
    padding: 30px;
    display: flex;
    text-align: center;
    align-items: center;
}
    
