.section4__text4{
    text-align: center;
    text-shadow: 5px 5px 20px;

}

.section__title{
    background-color: $color-primario;
    text-align: center;
}
.img_lobo{
    width: 50%;
    height: 50%;
}
.img_oso{
    width: 40%;
    height: 40%;
}
.img_naturaleza{
    width: 45%;
    height: 45%;
}
.img_ciervo{
    width: 50%;
    height: 50%;
    margin-top: -160px;
}

.tarjeta__{
    display: flex;
    text-align: center;
    align-items: center;
}
    
