.section4__text4{
    text-align: center;
    text-shadow: 5px 5px 20px;

}

.section__title{
    background-color: $color-primario;
    padding: 8px;
    text-align: center;
}
.img_lobo{
    width: 70vh;
    height: 70vh;
}
.img_oso{
    width: 80vh;
    height: 80vh;
}
.img_naturaleza{
    width: 100vh;
    height: 100vh;
    margin-top: -120px;
}
.img_ciervo{
    width: 60vh;
    height: 60vh;
    margin-top: -160px;
}

.tarjeta__{
    padding: 30px;
    display: flex;
    text-align: center;
    align-items: center;
}
    
