.img-fluid{
    padding: 0%;
    width: auto;
    height: auto;
    margin-top: 12px;
    margin-left: 20px;
}

.img_cactus{
    margin-top: -110px;
    margin-left: 200px;
}

.section3__text3{
    text-align: center;
    margin-top: 5px;
    text-shadow: 5px 5px 20px;
}

.section__title{
    background-color: $color-primario;
    padding: 8px;
    text-align: center;
}

.tarjeta__{
    padding: 30px;
    display: flex;
    text-align: center;
    align-items: center;
}
    
