.section2__text2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
    text-align: left;
    text-shadow: 5px 5px 20px;
    
    .section2__text{
        margin-top: -50px;
    }
}

.img_foca{
    width: 100vh;
    height: 100vh;
    margin-top: -107px;
    margin-left: 210px;
}

.section__title{
    background-color: $color-primario;
    padding: 8px;
    text-align: center;
}

.tarjeta__{
    padding: 30px;
    display: flex;
    text-align: center;
    align-items: center;
}

