.d-block{
    padding: 0%;
    width: 196vh;
    margin-top: 19px;
    margin-left: -0px;
    justify-content: center;
    align-items: center;
}

.c-block{
    padding: -7px;
    width: 200vh;
    height: 100vh;
    margin-top: -75px;
    margin-left: -50px;
}
