.d-block{
    padding: 0%;
    width: 196vh;
    height: 100vh;
    margin-top: 19px;
    margin-left: -0px;
}

.c-block{
    padding: -7px;
    width: 200vh;
    height: 100vh;
    margin-top: -75px;
    margin-left: -200px;
}
