@media (min-width:576px) {
    
    .header__nav ul{
        display:flow-root;
    }
   
    /*---index---*/

    .d-block{
        display: flex;
        width: 500px;
    }

    .slider{
       display: flex;
       flex-direction: column;
    }
  
    .section__title4{
        width: 100%;
        height: 100%;
      
    
       .tarjeta__text2{
           text-align: center;
           display: flex;
       
       }
    
    }

    .btn.center{
        text-align: center;
        display: flex;
    }

    /*---mares---*/

    .c-block{
        display: flex;
        width: 1000px;
        height: 300px ;
        margin-top: -75px;
    }
    .section2__text2{
        display: flex;
        margin-left: -350px;
        width: 1000px;

        .section2__text{
            width: 1000px;

        }
    }

    .img_foca{
        width: 200%;
        height: 100%;
        margin-top: -75px;
        margin-left: -150px
    }

    
    .btn.center{
        text-align: center;
        display: flex;
    }

    /*---desiertos---*/

    .section3__img{
        width: 200%;
        height: 100%;
        margin-top: -75px;
        margin-left: -200px;
    }

    .section3__text3{
        width: 1000%;
        margin-left: -1250px;

        .section3__text{
            width: 1000%;
            margin-left: 0px;

        }
    }

    .img_cactus{
        width: 200%;
        height: 100%;
        margin-top: -75px;
        margin-left: -150px;
    }

    .btn.center{
        text-align: center;
        display: flex;
    }


    /*---bosques---*/
    
    .section4__text4{
        width: 1000px;
        margin-left: -350px;

        .section4__text{
            width: 1000px;
            margin-left: 0px;

        }
    }

    .img_ciervo{
        width: 50%;
        height: 50%;
        margin-top: -20px;
    }


    .btn.center{
        text-align: center;
        display: flex;
    }

    /*---asociate---*/

    
    .header-asoc{
        display: flex;
        
        .header__nav ul{
            display: flex;
            flex-direction: column;           
        }
    }

    .intro-asociate{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        
    }
    
    .intro-asociate p{
        text-align: center;
        margin-top: 60px;
        font-family: $font-family-lucida;
    }
    
    
    .row{
        display: flex;
       flex-direction: column;
    }
    
    .bi{
        font-size: 50px;
    }
    
    .form-check{
        display: flex;
       flex-direction: column;
    }
    
    .info-datos h3{
        display: flex;
    }
    .info-datos h4{
        display: flex;
    }
    
    .info h5{
        display: flex;
    }

    /*---footer---*/
    .conteiner-fluid{
        height: 100%;
        width: 100%;
       
    }

    .bii{
        font-size: 30px;
        flex-direction: row;
    }
    
}

@media (min-width:768px){

    .portada{
        height: 100%;
    }

    .d-block{
        width: 500px;
        margin-top: 19px;
        justify-content: center;
        align-items: center;
    }

    .section_portada{
        padding: 100px;
        width: 200vh;
        height: 100vh;
        margin-top: -75px;
        margin-left: -50px;
    }
    

    .slider{
       display: flex;
       flex-direction: column;
    }


   /*---mares---*/

    .c-block{
        padding: -7px;
        width: 200vh;
        height: 100vh;
        margin-top: -75px;
        margin-left: -200px;
    }
    .section2__text2{
        width: 1000px;
        margin-left: -250px;

        .section2__text{
            width: 1000px;
            margin-left: 0px;

        }
    }


    .img_foca{
        width: 200%;
        height: 100%;
        margin-top: -75px;
        margin-left: -240px
    }


    .btn.center{
        text-align: center;
        display: flex;
    }
    

    /*---desiertos---*/

    .section3__img{
        padding: -7px;
        width: 200px;
        height: 100px;
        margin-top: -75px;
        margin-left: -200px;
    }

    .section3__text3{
        width: 1000px;
        margin-left: -250px;

        .section3__text{
            width: 1000px;
            margin-left: 0px;

        }
    }

    .img_cactus{
        width: 150%;
        height: 100%;
        margin-top: -75px;
        margin-left: -120px;
    }

    .btn.center{
        text-align: center;
        display: flex;
    }


    /*---bosques---*/
    
    .section4__text4{
        width: 1000px;
        margin-left: -250px;

        .section4__text{
            width: 1000px;
            margin-left: -350px;
        }

        .img_lobo{
            display: flex;
        }

        .img_oso{
            display: flex;
        }

        .img_naturaleza{
            display: flex;
        }
    }

    .img_ciervo{
        margin-top: 10px;
    }


    .btn.center{
        text-align: center;
        display: flex;
    }

    /*---asociate---*/

    .header-asoc{
        display: flex;
        
        .header__nav ul{
            display:block;
            text-align: center;
        }

    }

    
    .intro-asociate{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        
    }
    
    .intro-asociate p{
        text-align: center;
        margin-top: 60px;
        font-family: $font-family-lucida;
    }
    
    .row{
        display: flex;
       flex-direction: column;
    }
    
    .bi{
        font-size: 50px;
    }
    
    .form-check{
        display: flex;
       flex-direction: column;
    }
    
    .info-datos h3{
        display: flex;
    }
    .info-datos h4{
        display: flex;
    }
    
    .info h5{
        display: flex;
    }


    /*---footer---*/
    .conteiner-fluid{
        height: 100%;
        width: 100%;
       
    }

    .section2__text{
        width: 100%;
        height: 100%;
    }
    
    .bii{
        font-size: 30px;
        display:contents;
    }
    
    
}

@media (min-width:1024px){
    .header__nav ul{
        display: flex;
    }  

    /*---index---*/

    .d-block{
        justify-content: center;
        align-items: center;
        width: 1250px;
        margin-top: -30px;
    }

    
    .slider{
        display: flex;
        flex-direction: row;
        gap: 200px;
        margin-top: -50px;
    }

    /*---mares---*/


    .section2__text2{
        width: 1000px;
        margin-left: 0px;
    }

    .img_foca{
        width: 50%;
        height: 50%;
        margin-top: -107px;
        margin-left: 210px;
    }
    

    /*---desiertos---*/

    .section3__text3{
        width: 1000px;
        margin-left: 0px;
    }

    
    .img_cactus{
        width: 60%;
        height: 30%;
        margin-top: -110px;
        margin-left: 200px;
    }

    /*---bosques---*/
    
    .section4__text4{
        width: 1000px;
        margin-left: 0px;

        .section4__text{
            width: 1000px;
            margin-left: -350px;
        }

    }

    .img_ciervo{
        margin-top: 10px;
    }


    /*---asociate---*/

    .header-asoc{
        text-align: center;
        display: flex;
        
    
        .header__nav ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
        }
    
    }
    
    .intro-asociate{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        
    }
    
    .intro-asociate p{
        text-align: center;
        margin-top: 200px;
        font-family: $font-family-lucida;
    }

    .row{
        display: flex;
       flex-direction: row;
    }
    
   
    .form-check{
        display: flex;
       flex-direction: row;
    }
    
    .bi{
        font-size: 50px;
    }
    


    /*---footer---*/
    .conteiner-fluid{
        height: 100%;
        width: 100%;
       
    }

    .section2__text{
        width: 100%;
     height: 100%;
    }
}